body{
    font-family: "DM Sans";
}

.container{
    border: 1px solid gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(257, 100%, 96%);
}

.card1{

    border: 1px solid gray;
    background-color: hsl(256, 67%, 59%);
    color: white;
    width: 375px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.card1 h2{
    font-size: 40px;
}

.card1 p{
    font-size: 20px;
}

.ten{
    color: hsl(39, 100%, 71%);
}

.faster{
    font-style: italic;
}

.card1 img{
    height: 30px;
    margin-bottom: -10px;
}

.card2{
    background-color: white;
    width: 370px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding-left: 15px;
}

.card2 h3{
    font-size: 28px;
}

.card2 img{
    height: 70px;
}

.card3{
    width: 375px;
    background-color: hsl(39, 100%, 71%);
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: -20px;
}

.card3 h3{
    font-size: 30px;
}

.card3 img{
    height: 200px;
}

.card4{
    width: 375px;
    background-color: hsl(254, 88%, 90%);
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card4 h3{
    font-size: 30px;
}

.card4 img{
    height: 200px;
}

.card4 p{
    font-size: 20px;
}

.card5{
    width: 375px;
    background-color: hsl(256, 67%, 59%);
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card5 h3{
    font-size: 45px;
}

.card5 img{
    height: 250px;
    margin-top: 10px;
}

.card6{
    width: 375px;
    background-color: white;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card6 h3{
    font-size: 38px;
    margin-bottom: -10px;
    margin-top: -1px;
}

.card6 p{
    font-size: 24px;
}
.card6 img{
    height: 70px;
}

.card7{
    width: 375px;
    background-color: hsl(31, 66%, 93%);
    padding-left: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}

.card7 h3{
    font-size: 30px;
}

.card7 img{
    height: 100px;
}

.card8{
    width: 375px;
    background-color: hsl(39, 100%, 71%);
    padding-left: 25px;
    border-radius: 10px;
}

.card8  img{
    height: 200px;
}

.card8 h3{
    font-size: 36px;
}


@media(min-width: 768px){
    .container{
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 300px);
        padding-left: 20px;
    }

    .card1{
        grid-column: span 2;
        width: 500px;
        height: 300px;
        margin-top: -150px;
    }

    .card2{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 210px;
        margin-top: -650px;
    }

    .card2 img{
        height: 45px;
    }

    .card3{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        width: 200px;
        height: 250px;
        margin-top: -650px;
    }

    .card3 img{
        height: 50px;
        margin-top: -15px;
        margin-bottom: -4px;
    }

    .card4{
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        height: 600px;
        width: 350px;
        margin-top: 150px;
        margin-left: -20px;
    }

    .card4 img{
        height: 250px;
    }

    .card5{
        grid-column: 3 / 5;
        height: 300px;
        width: 650px;
        margin-top: -300px;
        display: flex;
        padding-left: 10px;
    }

    .card6{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        height: 200px;
        width: 250px;
        margin-top: -380px;
        padding-bottom: 20px;
    }
    .card6 img{
        height: 50px;
    }
    .card7{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 200px;
        height: 400px;
        margin-top: -80px;
    }

    .card7 img{
        height: 80px;
    }

    .card8{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 200px;
        height: 500px;
        margin-top: -200px;
    }
}
